In [1]:
# from visualisation.common import buses_locations_at_8,results_from_8AM
from visualisation.common import buses_locations_at_12, results_from_12AM
from src.analyze.analyze_avg_speed import *

Let's first combine all fetched data locations from one hour to one Data Frame.

In [2]:
df = combine_bus_locations_within_hour(str(buses_locations_at_12)) #or buses_locations_at_8
print(df)

       Lines        Lon        Lat  Brigade                 Time
0        213  21.189938  52.183931        3  2024-02-26 12:18:45
1        213  21.188766  52.149917        4  2024-02-26 12:18:50
2        311  21.102734  52.222433      502  2024-02-26 12:18:35
3        219  21.187683  52.183937        2  2024-02-26 12:18:52
4        311  21.073458  52.254001      501  2024-02-26 12:18:49
...      ...        ...        ...      ...                  ...
42218    186  20.874588  52.278282        8  2024-02-26 12:17:38
42219    210  20.866253  52.288696        4  2024-02-26 12:17:34
42220    186  20.874737  52.278332       12  2024-02-26 12:17:51
42221    114  20.923283  52.276421        3  2024-02-26 12:17:40
42222    186  20.957375  52.228283       10  2024-02-26 12:17:46

[42223 rows x 5 columns]

Let's group the location data by bus. Every bus can be identified by a pair ("Lines", "Brigade").

In [3]:
df = group_by_bus(df)
print(df.head(10))

   Lines  Brigade                                               Data
0    102        9  [{'Time': '2024-02-26 12:35:13', 'Lon': 20.922...
1    102      545  [{'Time': '2024-02-26 11:59:32', 'Lon': 21.085...
2    102      546  [{'Time': '2024-02-26 11:59:32', 'Lon': 21.041...
3    102      547  [{'Time': '2024-02-26 11:59:32', 'Lon': 21.044...
4    102      548  [{'Time': '2024-02-26 11:59:31', 'Lon': 21.107...
5    103        1  [{'Time': '2024-02-26 11:59:21', 'Lon': 20.934...
6    103        2  [{'Time': '2024-02-26 11:59:32', 'Lon': 20.954...
7    103        3  [{'Time': '2024-02-26 11:59:30', 'Lon': 20.965...
8    103        4  [{'Time': '2024-02-26 11:59:30', 'Lon': 20.969...
9    103        5  [{'Time': '2024-02-26 11:59:26', 'Lon': 20.968...

In [4]:
print(df.columns)

Index(['Lines', 'Brigade', 'Data'], dtype='object')

Now, let's count every bus trip duration.

In [5]:
df = count_durations(df)
print(df[[lines, brigade, trip_duration]])

      Lines  Brigade  Trip_Duration
0       102        9       0.391389
1       102      545       0.986389
2       102      546       0.985833
3       102      547       0.986389
4       102      548       0.986667
...     ...      ...            ...
1163    817        1       0.015833
1164    817        2       0.986111
1165    817        3       0.986667
1166    850        1       0.340833
1167    999        1       0.371389

[1168 rows x 3 columns]

Trip duration is provided in hour format. 
Of course, it is < 1 because we fetched data from 8am till 9 am.

In [6]:
df = count_avg_speed(df)
print(df[[lines, brigade, avg_speed]])

      Lines  Brigade  Average_Speed
0       102        9       1.518529
1       102      545       7.318236
2       102      546      10.642502
3       102      547       7.111039
4       102      548      10.107410
...     ...      ...            ...
1163    817        1       0.220553
1164    817        2       0.184347
1165    817        3       6.240049
1166    850        1      13.596368
1167    999        1       0.088928

[1162 rows x 3 columns]

The data is not yet processed, so now we will clean it.

In [7]:
clean_df(df)

,Lines,Brigade,Data,Trip_Duration,Total_Distance,Average_Speed
123,119,5,"[{'Time': '2024-02-26 11:59:27', 'Lon': 21.000...",0.986667,62.724650,63.572280
218,134,1,"[{'Time': '2024-02-26 12:55:42', 'Lon': 21.030...",0.050278,2.090957,41.588091
233,136,5,"[{'Time': '2024-02-26 11:59:17', 'Lon': 20.920...",0.990556,45.249221,45.680649
330,151,1,"[{'Time': '2024-02-26 11:59:28', 'Lon': 21.053...",0.986389,67.325103,68.254117
473,174,6,"[{'Time': '2024-02-26 11:59:14', 'Lon': 20.995...",0.990278,55.003625,55.543633
494,177,3,"[{'Time': '2024-02-26 11:59:30', 'Lon': 20.897...",0.986389,49.699765,50.385568
574,186,3,"[{'Time': '2024-02-26 12:04:36', 'Lon': 20.996...",0.901667,56.928552,63.137026
587,186,495,"[{'Time': '2024-02-26 12:51:12', 'Lon': 20.997...",0.116944,4.039392,34.541117
684,200,2,"[{'Time': '2024-02-26 11:59:32', 'Lon': 21.048...",0.321667,10.173438,31.627270
890,500,7,"[{'Time': '2024-02-26 11:59:16', 'Lon': 21.046...",0.990000,32.923838,33.256402
944,509,9,"[{'Time': '2024-02-26 11:59:31', 'Lon': 21.048...",0.935278,59.720054,63.852745
981,518,2,"[{'Time': '2024-02-26 12:21:01', 'Lon': 20.997...",0.627500,18.835789,30.017193
1024,523,5,"[{'Time': '2024-02-26 11:59:31', 'Lon': 21.105...",0.986667,36.127107,36.615312
1062,705,1,"[{'Time': '2024-02-26 12:54:35', 'Lon': 20.995...",0.068611,3.006190,43.814910
1118,723,474,"[{'Time': '2024-02-26 12:57:29', 'Lon': 20.993...",0.019444,0.630791,32.440664
1132,730,52,"[{'Time': '2024-02-26 11:59:28', 'Lon': 21.292...",0.986944,44.049992,44.632697
1148,738,3,"[{'Time': '2024-02-26 12:57:32', 'Lon': 21.080...",0.019722,0.596098,30.224690

Let's count the mean of avg speed of buses at 12 am.

In [8]:
print(df[avg_speed].mean())

45.24613912618406

In [9]:
df.to_json(results_from_12AM, orient='columns') # or results_from_8am